:root {
    --bg-color: #ffffff;
    --primary-color: #790B0A; 
    --secondary-color: #4F4F4F;
    --adornment-color: #9e9b9bc8;
    --accent-color: #5596f0;
    --form-border-color: #CFD6E5;
    --font-primary-color: #333333;
    --base-font-size: 1rem;
    --base-font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    --base-font-weight: 400;
    --base-font-style: 'Regular';
    --base-line-height: 1;
    --base-button-pad-height: 6px;
    --base-button-pad-width: 1rem;
}

html,
body {
    font-size: var(--base-font-size);
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    font-style: var(--base-font-style);
    line-height: var(--base-line-height);
    color: var(--font-primary-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--accent-color); 
}

.mud-main-content {
    padding:0 !important;
}

.mud-button-root:hover {
    background-color: transparent;
    box-shadow: none;
}

.mud-button {
    font-family: inherit;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
    text-shadow: 0 0 0px transparent;
    padding: 6px 1rem;
    letter-spacing: normal;
}

.mud-button-:hover {
    transform: translateY(-1px); /* slightly lift */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mud-button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.mud-button-label {
    font-size: 0.8rem;
    font-weight: 500;
    font-style: Regular;
    text-transform: none;
}

.custom-btn-short {
    padding: var(--base-button-pad-height) var(--base-button-pad-width);
}

.custom-btn-medium {
    padding: 6px 2.5rem;
}

.custom-btn-long {
    padding: 6px 4rem;
    border: 1.5px solid var(--primary-color) !important;
}

/* adornment logo only */
.mud-input-adornment .mud-icon-root {
    fill: var(--adornment-color) !important;
}

.footer-icons {
    background-color: var(--primary-color);
    color: var(--bg-color);
    width: 25px;
    height: 25px;
    padding: 1.35rem;
    transition: all 0.3s ease;
}

/* Schedule Select */

.select-schedule {
    width: 350px;
}

.select-schedule .mud-input > .mud-input-root-outlined  {
    padding: 0.85rem 0.25rem;
}

/* Schedule Select */


.footer-icons:hover {
    color: var(--primary-color);
}
