:root {
    --bg-color: #ffffff;
    --primary-color: #790B0A; 
    --secondary-color: #4F4F4F;
    --accent-color: #5596f0;
    --form-border-color: #CFD6E5;
    --font-primary-color: #333333;
    --base-font-size: 1rem;
    --base-font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    --base-font-weight: 400;
    --base-font-style: 'Regular';
    --base-line-height: 1;
}

html,
body {
    font-size: var(--base-font-size);
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    font-style: var(--base-font-style);
    line-height: var(--base-line-height);
    color: var(--font-primary-color);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: var(--accent-color); 
}

.mud-button-root:hover {
    background-color: transparent;
    box-shadow: none;
}

.mud-button {
    font-family: inherit;
    cursor: pointer;
    border-radius: 6px;
    transition: all 0.2s ease;
    text-shadow: 0 0 0px transparent;
    padding: 6px 1rem;
    letter-spacing: normal;
}

.mud-button-:hover {
    transform: translateY(-1px); /* slightly lift */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mud-button:active {
    transform: translateY(1px);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.mud-button-label {
    font-size: 0.8rem;
    font-weight: 500;
    font-style: Regular;
    text-transform: none;
}
