.checkout-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2rem 3.75rem;
    min-height: 100vh;
}

.checkout-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1rem;
}

.rental-cart-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;  /* grow=1, shrink=1, basis=0 */
    min-width: 0;  /* penting supaya teks bisa shrink */
}

.checkout-seperator {
    border-bottom: 1.5px solid var(--form-border-color);
    width: 100%;
}

.checkout-actions {
    position: sticky;
    bottom: 0;
    border-top: 3px solid var(--form-border-color);
    padding: 1rem 3.75rem;
    background-color: var(--bg-color);
    z-index: 1;
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;       
    width: 100%;
    gap: 1rem;
}

.checkout-actions {
    min-width: 500px
}
