.auth-container {
    margin: 3.5rem auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 600px;
    width: 100%;
    max-height: fit-content;
}

@media (max-width: 660px) {
    .auth-container {
        gap: 1.5rem;
        max-width: fit-content;
        max-height: auto;
    }
}
