* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 3rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 24px;
    font-weight: 400;
}

.logo img {
    width: 62.44px;
    height: 50px;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links a {
    font-size: 16px;
    text-decoration: none;
    font-weight: 500;
}

.signup-btn {
    color: #790b0a;
}

.login-btn {
    background-color: #790b0a;
    border: none;
    color: white;
    padding: 0.6rem 1.5rem;
    border-radius: 10px;
}

.login-btn:hover {
    background-color: #5c0000;
}

/* main */
.container {
    max-width: 700px;
    margin: 7.5rem auto;
    text-align: left;
}

.container h2 {
    margin-bottom: 4rem;
    font-weight: 400;
    color: #333333;
}

.password-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.password-form input {
    padding: 8px;
    border: 1px solid #CFD6E5;
    border-radius: 4px;
    font-size: 0.9rem;
}

.password-form input::placeholder {
    color: #333333;
}

.form-actions {
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin-top: 1rem;
}

.cancel-btn {
    background: white;
    border: 1.6px solid #790b0a;
    color: #790B0A;
    padding: 0.7rem 3rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-style: "regular";
    font-size: 15px;
}

.cancel-btn:hover {
    background: #f9f9f9;
}

.submit-btn {
    background: #790b0a;
    border: none;
    color: white;
    padding: 0.7rem 3rem;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-style: "regular";
    font-size: 15px;
}

.submit-btn:hover {
    background: #5c0000;
}

@media (max-width: 740px) {
    .container {
        max-width: 95%;
        margin: 40px auto;
        padding: 1.5rem;
    }
}

@media (max-width: 495px) {
    .form-actions {
        flex-direction: column;
        align-items: center;
    }

    .form-actions button {
        width: 95%;
        margin: 0.rem 0;
    }

    .logo span {
        display: none;
    }
}